.chartBars {
  width: 100%;
  max-width: 1124px;
  height: 100%;
  max-height: 100%;
  padding-top: 20px;
  box-sizing: border-box;
}

.customTooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $redLogotext;
  width: 39px;
  height: 63px;
  box-sizing: border-box;
  padding: 6px 0px;
  color: white;
  font: {
    size: 7px;
    weight: 500;
  }
  p {
    margin: auto;
  }
}
