.nutrition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // flex: 1;
  min-width: 22.96%;
  // min-width: 258px;
  // max-width: 258px;
  // max-width: 257px;
  height: 100%;
  // margin-left: 3%;
}
