.loader {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    margin: 35% auto 0;
    color: $primary;
    font-size: 30px;
  }
}

.profil {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 117px);
  height: calc(100% - 91px);
  padding: 4.72% 6.25% 6.25% 7.43%;
  box-sizing: border-box;

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 6%;
    h2 {
      margin: 0 0 2%;
      font: {
        size: 48px;
        weight: 500;
      }
      span {
        color: $primary;
      }
    }
    p {
      margin: 0;
      font: {
        size: 18px;
        weight: 400;
      }
    }
  }

  &__dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 75%;
    &__charts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 74.23%;

      &__activity {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 23px 26px 34px 32px;
        box-sizing: border-box;
        width: 100%;
        height: 52%;
        background-color: $backgroundClear;
        border-radius: 5px;
      }
      &__threeCharts {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 43%;
      }
    }
  }
}
