.loader {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    margin: 35% auto 0;
    color: $primary;
    font-size: 30px;
  }
}

.profil {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 117px);
  height: calc(100% - 91px);
  box-sizing: border-box;
  // padding: 4.72% 6.25% 6.25% 7.57%;
  padding: 4.72% 6.249% 3% 7.57%;
  // padding: 4.72% 6.25% 4.9% 7.43%;
  box-sizing: border-box;

  &__dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    // width: 100%;
    // min-height: 75%; // 1024x768
    max-height: 75%;
    // min-width: 1124px;
    // max-width: 1124px;
    // max-height: 613px;
    aspect-ratio: 1.8336;
    background-color: rgb(205, 203, 176);
    margin: 0;
    &__charts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      width: 74.29%;
      // aspect-ratio: 1421/500; //

      &__activity {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 23px 26px 34px 32px;
        box-sizing: border-box;
        width: 100%;
        height: 52.25%;
        background-color: $backgroundClear;
        border-radius: 5px;
      }
      &__threeCharts {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 42.95%;
      }
    }
  }
}
