// Couleur principale
$primary: #e60000;

$grey1: #74798c;
$grey2: #9b9eac;

// Couleurs de fond
// $backgroundClear: #fbfbfb;
$backgroundClear: #f6f5f5; // !!! remettre bonne valeur !!!
$backgroundDark: #282d30;

// Largeur des trois charts du bas
$widthChart: 30.9%;
