// Couleur principale
$redLogotext: #e60000;
$redLogo: #ff0101;
$redChart: #ff0000;

$grey1: #74798c;
$grey2: #9b9eac;

// Couleurs de fond
$backgroundClear: #f6f5f5; // !!! remettre bonne valeur !!!
$backgroundClear: #fbfbfb;
$backgroundDark: #282d30;

//@media screen
$breakPoint: 840px;
