// Breakpoints
// $breakpoints: (
// tablet : gallerie, justify-content passe de space-between à center
// tablet: 1024px,
// mobile: 600px,
// mobile2: réagencement du header, logo et navbar en colonne et centrés
// mobile2: 338px
// );

// Largeur des pages par rapport au footer
// $widthPage: 88.8%;

// Couleur principale
$primary: #ff0101;

$grey1: #74798c;
$grey2: #9b9eac;

// Couleurs de fond
// $backgroundClear: #fbfbfb;
$backgroundClear: #f6f5f5;
$backgroundDark: #282d30;

// Couleur de la police claire
// $fontColorLight: white;

// Couleur du fond (gallerie)
// $backgroundColor: #f6f6f6;
