@import './normalize';

@import './variables';

@import '../components/Header/header';
@import '../components/NavSide/navSide';
@import '../components/Navbar/navbar';
@import '../components/NutritionContent/nutritionContent';
@import '../components/Charts/ChartLine/chartLine';
@import '../components/Charts/ChartRadar/chartRadar';
@import '../components/Charts/ChartBars/chartBars';
@import '../components/Charts/ChartRadialBar/chartRadialBar';

@import '../pages/Home/home';
@import '../pages/Profil/profil';
@import '../pages/Setting/setting';
@import '../pages/Community/community';

/* Lien des polices google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  // color: $primary;
  box-sizing: border-box;
  background-color: bisque;
  .app {
    position: relative;
    margin: auto;
    background-color: white;
    min-width: 1024px;
    max-width: 1024px;
    // max-width: 1440px;
    min-height: 780px;
    // height: 100vh;
    max-height: 780px;
    // max-height: 1024px;
  }
}
