@import './normalize';

@import './variables';

@import '../components/Header/header';
@import '../components/NavSide/navSide';
@import '../components/Navbar/navBar';
@import '../components/Hello/hello';

@import '../components/Charts/ChartBarsHeader/chartBarsHeader';
@import '../components/Charts/ChartBarsActivity/chartBars';
@import '../components/Charts/ChartLineAverage/chartLine';
@import '../components/Charts/ChartRadarperformance/chartRadar';
@import '../components/Charts/ChartRadialBarScore/chartRadialBar';
@import '../components/NutritionAside/nutritionAside';
@import '../components/NutritionCard/nutritionCard';

@import '../pages/Home/home';
@import '../pages/Profil/profil';
@import '../pages/Error/error';

/* Lien des polices google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: bisque;
  .app {
    position: relative;
    margin: auto;
    background-color: white;
    min-width: 1024px;
    // max-width: 1024px;
    max-width: 1440px;
    // max-height: 1024px;
    min-height: 780px;
    height: 100vh;
    // max-height: 780px;
    // color:darkgoldenrod;
  }
}
