.home {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  float: row;
  justify-content: space-evenly;
  width: calc(100% - 117px);
  height: calc(100% - 91px);
  padding: 80px 20px 20px;
  box-sizing: border-box;
  h2 {
    margin: 0;
    text-align: center;
  }
  .menu {
    padding: 30px;
    width: 230px;
    height: 200px;
    border: 3px solid $backgroundDark;
    background-color: $backgroundClear;
    border-radius: 30px;

    &__navUser {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      text-align: center;
      &__link {
        font: {
          size: 30px;
          weight: 700;
        }
        margin: 10px;
        text-decoration: none;
        color: $primary;
        &:hover {
          text-decoration: underline 2px $primary;
        }
      }
    }
  }

  .typeData {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 230px;
    height: 200px;
    background-color: $backgroundClear;
    border: 3px solid $backgroundDark;
    border-radius: 30px;
    &__groupButtons {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      .btn {
        cursor: pointer;
        margin: 10px auto;
        width: 100px;
        color: white;
        border: none;
        border-radius: 5px;
        background-color: $backgroundDark;
        border: 3px solid transparent;
        font: {
          size: 30px;
          weight: 500;
        }
        &:hover {
          color: $primary;
          border: 3px solid $primary;
        }
      }
      button.active {
        color: $primary;
      }
    }
  }
}
