.home {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  float: row;
  justify-content: space-evenly;
  width: calc(100% - 117px);
  height: calc(100% - 91px);
  padding: 50px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  h2 {
    margin: 0;
    text-align: center;
  }
  .menu {
    // margin: auto;
    padding: 50px;
    // width: fit-content;
    // height: fit-content;
    // width: 300px;
    height: 250px;
    background-color: $backgroundClear;
    border-radius: 30px;

    &__navUser {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      text-align: center;
      &__link {
        font-size: 30px;
        margin: 10px;
        text-decoration: none;
        color: $primary;
        &:hover {
          text-decoration: underline 3px $primary;
        }
      }
    }
  }
  .switchData {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: fit-content;
    height: 250px;
    background-color: $backgroundClear;
    border-radius: 30px;
    &__groupButtons {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      .btn {
        cursor: pointer;
        margin: 10px auto;
        width: 100px;
        color: white;
        border: none;
        border-radius: 5px;
        background-color: $backgroundDark;
        font: {
          size: 20px;
          weight: 500;
        }
      }
      button.active {
        color: $primary;
      }
    }
  }
}

// &:active {
//   color: white;
//   border: 2px $backgroundDark solid;
//   background-color: $primary;
// }
