.setting {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  width: calc(100% - 117px);
  height: calc(100% - 91px);
  box-sizing: border-box;
  // background-color: rgb(252, 254, 225);
  h2 {
    margin: 200px auto 0;
    color: $primary;
    font-size: 40px;
  }
}
