.chartLine {
  position: relative;
  display: flex;
  aspect-ratio: 0.98;
  height: 100%;
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
  background-color: $redChart;
  font-size: 10px;

  h3 {
    position: absolute;
    top: 11%;
    left: 13.1%;
    width: 135px;
    margin: 0;
    font: {
      size: 15px;
      weight: 500;
    }
    color: white;
    opacity: 0.5;
    @media screen and (max-height: 870px) {
      top: 7%;
      left: 8%;
    }
  }
}

.customTooltipLine {
  display: flex;
  background-color: white;
  width: 39px;
  height: 25px;
  box-sizing: border-box;
  padding: 6px 0px;
  color: black;
  font: {
    size: 8px;
    weight: 500;
  }
  p {
    margin: auto;
  }
}

.rectangleCursor {
  width: 40px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
