.nutrition__card {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 22.1%;
  max-height: 124px;
  padding: 4%;
  border-radius: 5px;
  background-color: $backgroundClear;
  &__icon {
    margin: auto 0;
    width: 60px;
    height: 60px;
  }
  &__text {
    margin: auto 9.3%;
    h3 {
      margin: 0;
      font: {
        // size: clamp(1rem, 1.25rem, 1.25rem); // 1.25rem=20px || 1rem=16x
        size: 18px; //valeur maquette : 20px mais trop juste en 1024x780
        weight: 700;
      }
    }
    p {
      margin: 0;
      color: $grey1;
      font: {
        size: 14px;
        weight: 500;
      }
    }
  }
}
