.navBar {
  display: flex;

  font: {
    size: 24px;
    weight: 500;
  }

  .navBarLink {
    margin: 0 0 0 100px;
    display: flex;
    color: white;
    text-decoration: none;
  }
  .navBarLink.active {
    color: $primary;
  }
}
