.chartRadialBar {
  position: relative;
  display: flex;
  aspect-ratio: 0.98;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0px;
  // overflow: hidden;
  font-size: 10px;
  background-color: $backgroundClear;
  //  background-color: rgb(203, 246, 246);
}

.legendScore {
  position: absolute;
  margin: 0;
  color: #20253a;
  left: 11.63%;
  top: 24px;
  margin: 0;
  font: {
    size: 15px;
    weight: 500;
  }
  @media screen and (max-height: 900px) {
    left: 2%;
    top: 2px;
  }
}
