.chartRadialBar {
  position: relative;
  display: flex;
  aspect-ratio: 0.98;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0px;
  // overflow: hidden;
  font-size: 10px;
  background-color: $backgroundClear;
  // background-color: rgb(220, 220, 252);
  &__small {
    // position: absolute;
    // z-index: 1;
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    // background-color: rgb(221, 221, 255);
    // padding: 50px;
    // @media screen and (max-height: 870px) {
    //   width: 75%;
    //   height: 75%;
    // }
    .container {
      margin: auto;
      // border: 3px rgb(69, 202, 45) solid;
      // width: 80%;
      // height: 80%;
    }
  }

  h3 {
    position: absolute;
    z-index: 5;
    // top: 4%;
    // left: 5%;
    top: 9.12%;
    left: 11.63%;
    margin: 0;
    font: {
      size: 15px;
      weight: 500;
    }
  }
}
